aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

aside h3 {
    text-align: center;
    color: tomato;
}

.form_cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form_info_cont {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.label {
    color: tomato;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
    font-size: 1rem;
    font-weight: bold;
}

.input {
    width: 50%;
    height: 1.5rem;
    border-radius: 0.3rem;
    border: 1px solid black;
    margin: 0.4rem 0.2rem;
}

.form_cont button {
    height: 1.5rem;
    color: white;
    background-color: tomato;
    width: 50%;
    border: 1px solid black;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem;
}

.form_cont button:hover {
    box-shadow: 0 0 5px 1px white;
    border: 1px solid white;
}

.date_cont {
    background-color: rgb(138, 43, 226, 0.3);
    width: 69%;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    color: tomato;
}